body{
    background-color: #85bb65;
    
}

h1{
    color: rgba(255, 0, 0, .4);
    
}
#box4{
    background-color: yellow;
    color: #335755

}

#box5{
    background-color: hsla(120, 100%, 50%, 0.4);
    color: white;

}

